.grid-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-gap: 2em;
  justify-content: start;
}
.grid-card{
  border-radius: 15px;
  padding: 1em;
  background-color: #EEE;  
  box-shadow: 10px 10px 5px grey;
}
.grid-box{
  padding: 1em;
}
.flex-form {
  display: flex;
  justify-content: center;

}
.matterport0 div {
    display: inline-block;
	width: 250px;
	min-height: 50px;
	background-color: #eee;
	height: auto;
}
.matterport1 div {
    display:inline-block;
	margin-right:10px;
}
.matterport2 div {
	display:inline-block;
}

.flex-col{
  flex: 1;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 10px 10px 5px grey;
  background-color: rgba(233, 233, 233, 0.739);
}
.flex-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.flex-item{
  flex: 1;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.flex-item-top{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* Customize the label (the container) */
.btn-container {
  text-align: center;
  /*display: block;
  position: absolute;
  padding-left: 35px;
  */
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.btn-container input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  display: inline-block;
  text-align: center;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(236, 236, 236);
  border-radius: 50%;
  box-shadow: 0 0 1pt 1pt rgb(39, 39, 39);
}

/* On mouse-over, add a grey background color */
.btn-container:hover input ~ .checkmark {
  background-color: rgb(158, 206, 212);
}

/* When the radio button is checked, add a black background */
.btn-container input:checked ~ .checkmark {
  background-color: rgb(6, 10, 14);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: relative;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.btn-container input:checked ~ .checkmark:after {
  display: block;
  text-align: center;
}

/* Style the indicator (dot/circle) */
.btn-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
ul {
  display: inline;
}
.wrap{
  padding: .1em 16px;
  text-align: center;
}